@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap");
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  display: grid;
  min-height: 100vh;
  background-color: hsl(0, 0%, 94%);
  font-family: "Poppins", sans-serif;
}
body .container {
  place-self: center;
  background-color: hsl(0, 0%, 100%);
  min-width: 30vw;
  min-height: 53vh;
  border-radius: 15px 15px 150px 15px;
  position: relative;
  padding: 50px;
}
body .container .input-grid {
  display: flex;
  gap: 15px;
  border-bottom: 1px solid hsl(0, 0%, 86%);
  padding-bottom: 50px;
  margin-bottom: 50px;
}
body .container .input-grid .input-container small {
  color: hsl(0, 100%, 67%);
  font-style: italic;
  display: block;
  padding-bottom: 0.5rem;
}
body .container .input-grid .input-container .little {
  display: block;
  font-weight: 400;
  color: hsl(0, 1%, 44%);
  font-size: 12px;
  margin-bottom: 7px;
  letter-spacing: 3px;
}
body .container .input-grid .input-container input {
  width: 90px;
  height: 30px;
  border-radius: 3px;
  margin-right: 4px;
  border: 1px solid hsl(0, 0%, 86%);
  padding-left: 11px;
  padding-top: 5px;
  font-size: 20px;
  font-weight: 700;
}
body .container .input-grid .input-container input:focus {
  border: 1px solid hsl(259, 100%, 65%);
}
body .container .input-grid .input-container input::-moz-placeholder {
  font-size: 20px;
  font-weight: 700;
  color: hsl(0, 1%, 44%);
}
body .container .input-grid .input-container input::placeholder {
  font-size: 20px;
  font-weight: 700;
  color: hsl(0, 1%, 44%);
}
body .container #btn {
  position: absolute;
  background-color: hsl(259, 100%, 65%);
  border-radius: 50%;
  border: none;
  outline: none;
  padding: 15px;
  right: 40px;
  top: 125px;
  z-index: 1;
}
body .container #btn:active {
  background-color: hsl(0, 0%, 8%);
}
body .container .output {
  font-weight: 800;
  font-style: italic;
  font-size: 20px;
}
body .container .output h1 span {
  color: hsl(259, 100%, 65%);
  letter-spacing: 4px;
}

@media (min-width: 375px) and (max-width: 425px) and (min-height: 600px) {
  body .container {
    margin-top: 55px;
    width: 300px;
    padding: 35px 20px 5px;
    border-radius: 17px 17px 80px 17px;
  }
  body .container .input-grid {
    gap: 5px;
  }
  body .container .input-grid .input-container input {
    width: 70px;
  }
  body .container .btn {
    right: 145px;
    top: 123px;
  }
  body .container .btn img {
    width: 20px;
    height: 20px;
  }
}
@media (min-width: 375px) and (max-width: 435px) and (max-height: 1080px) {
  body .container {
    padding: 35px 20px 5px;
    width: 300px;
    margin-bottom: 200px;
  }
  body .container .input-grid {
    gap: 5px;
  }
  body .container .input-grid .input-container input {
    width: 70px;
  }
  body .container .btn {
    right: 145px;
    top: 123px;
  }
  body .container .btn img {
    width: 20px;
    height: 20px;
  }
}
@media (min-width: 400px) and (max-width: 575px) and (max-height: 900px) {
  body .container {
    padding: 35px 20px 5px;
    width: 300px;
    margin-bottom: 200px;
  }
  body .container .input-grid {
    gap: 5px;
  }
  body .container .input-grid .input-container input {
    width: 70px;
  }
  body .container .btn {
    right: 145px;
    top: 123px;
  }
  body .container .btn img {
    width: 20px;
    height: 20px;
  }
}/*# sourceMappingURL=style.css.map */